/* Course: SENG 513 */
/* Date: OCT 20, 2023 */
/* Assignment 2 */
/* Name: Sean Choi */
/* UCID: 30121940 */

@font-face {
    font-family: myFont;
     src: url("assets/TmonMonsori.ttf");
} 
*{
    font-family: myFont, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #E1C699
    ;
}
.container{
    position:relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}
.menu{
    position: absolute;
    width: 1024px;
    height: 576px;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 50px;
    text-align: center;
    margin-top:150px;
}
.imageContainer{
    margin-top:30px;
}
.imageContainer img{
    width:80px;
}
h1{
    background-image: linear-gradient(to right, rgb(32, 31, 31), rgb(110, 98, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playButton button{
    color: rgb(164, 164, 164);
    outline:0; 
    background:#fff;
    border:none;
    padding:1.1em 1.1em;
    transition:all .1s ease-out; 
    cursor: pointer;
    align-items: center;
    border-radius:12px;
     box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 #000000,
        2px 2px 0 0 #000000,
        3px 3px 0 0 #000000,
        4px 4px 0 0 #000000,
        5px 5px 0 0 #000000,
        6px 6px 0 0 #000000,
        7px 7px 0 0 #000000,
        8px 8px 0 0 #000000,
        9px 9px 0 0 #000000,
        10px 10px 0 0 #000000,
        11px 11px 0 0 #000000,
        12px 12px 0 0 #000000;
    width:200px;
    text-align: center;
}
.playButton{
    display: flex;
    justify-content: center;
}
.playButton button:hover{
    transform: scale(1.1) perspective(1px);
    color:#222;
    background-color: rgb(237, 237, 237);
  }
.playButton button:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000000,
      2px 2px 0 0 #000000,
      3px 3px 0 0 #000000,
      4px 4px 0 0 #000000,
      5px 5px 0 0 #000000;
  }

.credit{
    position:fixed;
    bottom:20px;
    right:30px;   
}

.game{
    align-items: center;
    position: relative;
    display:none;
    justify-content: center;
}
.p1{
    position:fixed;
    top:25px;
    left:30px;
}
.p1Score{
   position: fixed;
   top:60px;
   left:30px;
   width:20%;
   background-color: rgb(163, 163, 163);
}

.p1ScoreValue{
    width:0%;
    height:30px;
    background: red;
}

.p2{
    position:fixed;
    top:25px;
    right:30px;
}
.p2Score{
    position: fixed;
    top:60px;
    right:30px;
    width:20%;
    background-color: rgb(163, 163, 163);
 }
 
 .p2ScoreValue{
     width:0%;
     height:30px;
     background: blue;
 }

 .scoreNum{
    text-align: center;
    line-height: 30px;
 }

.turn{
   margin-top: 180px; 
   text-align: center;
}
.turn small{
    color:#707271
}
.dice{
    position: absolute;
    top:250px;
}


.gameButtons{
    position: absolute;
    top:400px;
}
.keepRoll {
    display:inline-block; 
    color: rgb(11, 137, 28);
    outline:0; 
    background:#fff;
    border:none;
    padding:1.1em 1.1em;
    transition:all .1s ease-out; 
    cursor: pointer;
    align-items: center;
    border-radius:12px;
     box-shadow:inset 0 -8px 0 0 rgba(60, 210, 115, 0.2),
        1px 1px 0 0 rgba(60, 210, 115, 0.2),
        2px 2px 0 0 rgba(60, 210, 115, 0.2),
        3px 3px 0 0 rgba(60, 210, 115, 0.2),
        4px 4px 0 0 rgba(60, 210, 115, 0.2),
        5px 5px 0 0 rgba(60, 210, 115, 0.2),
        6px 6px 0 0 rgba(60, 210, 115, 0.2),
        7px 7px 0 0 rgba(60, 210, 115, 0.2),
        8px 8px 0 0 rgba(60, 210, 115, 0.2),
        9px 9px 0 0 rgba(60, 210, 115, 0.2),
        10px 10px 0 0 rgba(60, 210, 115, 0.2),
        11px 11px 0 0 rgba(60, 210, 115, 0.2),
        12px 12px 0 0 rgba(60, 210, 115, 0.2);
    width:130px;
    text-align: center;
}
.keepRoll:hover{
    transform: scale(1.1) perspective(1px);
    color:#0dec6a;
    background-color: rgb(221, 255, 224);
  }
.keepRoll:active{
    color:#0dec6a;
    box-shadow:inset 0 -4px 0 0 rgba(60, 210, 115, 0.2),
      1px 1px 0 0 rgba(60, 210, 115, 0.2),
      2px 2px 0 0 rgba(60, 210, 115, 0.2),
      3px 3px 0 0 rgba(60, 210, 115, 0.2),
      4px 4px 0 0 rgba(60, 210, 115, 0.2),
      5px 5px 0 0 rgba(60, 210, 115, 0.2);
  }
.holdRoll{
    margin-top: 20px;
    color: rgb(99, 30, 30);
    outline:0; 
    background:#fff;
    border:none;
    padding:1.1em 1.1em;
    transition:all .1s ease-out; 
    cursor: pointer;
    align-items: center;
    border-radius:12px;
     box-shadow:inset 0 -8px 0 0 rgba(210, 48, 48, 0.2),
        1px 1px 0 0 rgba(210, 48, 48, 0.2),
        2px 2px 0 0 rgba(210, 48, 48, 0.2),
        3px 3px 0 0 rgba(210, 48, 48, 0.2),
        4px 4px 0 0 rgba(210, 48, 48, 0.2),
        5px 5px 0 0 rgba(210, 48, 48, 0.2),
        6px 6px 0 0 rgba(210, 48, 48, 0.2),
        7px 7px 0 0 rgba(210, 48, 48, 0.2),
        8px 8px 0 0 rgba(210, 48, 48, 0.2),
        9px 9px 0 0 rgba(210, 48, 48, 0.2),
        10px 10px 0 0 rgba(210, 48, 48, 0.2),
        11px 11px 0 0 rgba(210, 48, 48, 0.2),
        12px 12px 0 0 rgba(210, 48, 48, 0.2);
    width:130px;
    text-align: center;
}

.holdRoll:hover{
    transform: scale(1.1) perspective(1px);
    color:rgb(255, 0, 0);
    background-color: rgb(255, 211, 211);
  }
.holdRoll:active{
    color:rgb(255, 0, 0);
    box-shadow:inset 0 -4px 0 0 rgba(60, 210, 115, 0.2),
      1px 1px 0 0 rgba(210, 48, 48, 0.2),
      2px 2px 0 0 rgba(210, 48, 48, 0.2),
      3px 3px 0 0 rgba(210, 48, 48, 0.2),
      4px 4px 0 0 rgba(210, 48, 48, 0.2),
      5px 5px 0 0 rgba(210, 48, 48, 0.2);
  }

.howToPlayText{
    display:none;
    background: white;
    border:5px solid black;
    border-radius: 12px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
    position:absolute;
    text-align: center;
    font-size: 0.7em;
    top:360px;
    right:300px;
    width:300px;
    height:320px;
  }

  .pigPicture2{
    position:fixed;
    left:-80px;
    bottom:-100px;
    width:400px;

  }