@font-face {
    font-family: myFont;
     src: url("assets/TmonMonsori.ttf");
} 
*{
    font-family: myFont, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #E1C699
    ;
}

.title{
    font-size: 50px;
    text-align: center;
    margin-top:150px;
}

h1{
    background-image: linear-gradient(to right, black, rgb(110, 98, 98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button{
    color: grey;
    outline:0; 
    background:#fff;
    border:none;
    padding:1.1em 1.1em;
    transition:all .1s ease-out; 
    cursor: pointer;
    align-items: center;
    border-radius:12px;
     box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 #000000,
        2px 2px 0 0 #000000,
        3px 3px 0 0 #000000,
        4px 4px 0 0 #000000,
        5px 5px 0 0 #000000,
        6px 6px 0 0 #000000,
        7px 7px 0 0 #000000,
        8px 8px 0 0 #000000,
        9px 9px 0 0 #000000,
        10px 10px 0 0 #000000,
        11px 11px 0 0 #000000,
        12px 12px 0 0 #000000;
    width:200px;
    text-align: center;
}
.playButton{
    display: flex;
    justify-content: center;
    margin-top:100px;
}
button:hover{
    transform: scale(1.1) perspective(1px);
    color:#222;

  }
.playButton button:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000000,
      2px 2px 0 0 #000000,
      3px 3px 0 0 #000000,
      4px 4px 0 0 #000000,
      5px 5px 0 0 #000000;
  }

.credit{
    position:fixed;
    bottom:20px;
    right:30px;
    
}